<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TestDB" connectionString="Server=FWK;Database=TestDB;Trusted_Connection=True" providerName="System.Data.SqlClient"/>
		<add name="TestDB1" connectionString="Server=FWK;Database=TestDB1;Trusted_Connection=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>